@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import "tailwindcss";
* {
  font-family: "Comfortaa";
  font-weight: 700;
}
.buttons,
.display {
  font-size: 48px;
}
button {
  border-width: 4px;
  border-color: black;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fn {
  height: 80px;
  margin-right: 18px;
  margin-left: 0;
}
@media( max-width:770px) {
  button{
    font-size:2rem;
    width: 64px;
    height:64px;
    border-radius: 8px;
    border-width:4px;
  }
  
}
@keyframes rotating{
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.icon{
  animation: rotating 8s linear infinite;
}
